.Browselist-section {
    //background-color: red;

    h1 {
        padding: 10px;
        margin-left: 2rem;
    }

    .Spinner {
        display: flex;
        padding: 2rem;
        justify-content: center;
    }
}