@import 'Config';

body {
    background-color: $lightPrimary;
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}

@import 'Header';
@import 'Searchbar';
@import 'Signup&Login';
@import 'Animecard';
@import 'Animeinfo';